!!!5
html
  head
    title= title
    link(rel='stylesheet', href='/css/ui-lightness/jquery-ui-1.8.21.custom.css')
  
    link(rel='stylesheet', href='/js/DataTables-1.9.2/media/css/jquery.dataTables.css')
    link(rel='stylesheet', href='/css/style.css')
    script(type="text/javascript", src="/js/jquery-1.7.2.min.js")  
    script(type="text/javascript", src="/js/jquery-ui-1.8.21.custom.min.js")  
    script(type="text/javascript", src="/js/DataTables-1.9.2/media/js/jquery.dataTables.min.js")
    script(type="text/javascript", src="/js/DataTables-1.9.2/media/js/plugins/dataTableExt.fnStandingRedraw.js")
    
    script(type="text/javascript", src="/js/DataTables-1.9.2/media/js/plugins/dataTableExt.fnReloadAjax.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/js/dataService.js")
   
    script(type="text/javascript", src="/js/init.js")

    
  body
   
    div(id="leftColumn", class="column")

      div(id="tabs")
        div(id="actions")
        ul 
          li
            a(href="#tab-articles") Artikel-Liste
          li
            a(href="#tab-orders") Auftragsliste-Liste
        div(id="tab-articles")
          table(id="articleTable")
        div(id="tab-orders")
          table(id="orderTable")
          
    
    div(class="column")
      div(id="order", class="ui-widget")
        div(class="ui-widget-header") 
          span Auftrag
            div(class="buttons")
              a(class="printButton") Drucken
              a(class="closeButton") close
          div(class="clear")
        div(class="ui-widget-content") 
       
            
        
        
    
    div(class="clear")
  
    
    div(id="addNewArticleDialog")
       form(class="addNewArticle")
        table
          tr
            td Name: 
            td
              input(type="text", name="name", placeholder="Name")
          tr 
            td SAP-Nr:
            td
              input(type="text", name="sap", placeholder="SAP")
          
          tr 
            td Geheim-Nr:
            td 
              input(type="text", name="ext_id", placeholder="Geheim-Nr")
          
          tr 
            td Ort:
            td 
              input(type="text", name="location", placeholder="Ort")
           
          
           
          tr 
            td 
              input(type="submit", value="Speichern")
    
    div(id="errorDialog")
      An error occured:
      p(class="error")
