!!!5
html
  head
    title= title
    link(rel='stylesheet', href='/css/ui-lightness/jquery-ui-1.8.21.custom.css')
  
    link(rel='stylesheet', href='/js/dataTables/css/jquery.dataTables.css')
    link(rel='stylesheet', href='/css/style.css')
    script(type="text/javascript", src="/js/jquery-1.7.2.min.js")  
    script(type="text/javascript", src="/js/jquery-ui-1.8.21.custom.min.js")  
    script(type="text/javascript", src="/js/dataTables/js/jquery.dataTables.min.js")
    script(type="text/javascript", src="/js/dataTables/js/plugins/dataTableExt.fnStandingRedraw.js")
    
    script(type="text/javascript", src="/js/dataTables/js/plugins/dataTableExt.fnReloadAjax.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/js/dataService.js")
   
    script(type="text/javascript", src="/js/init.js")

    
  body
   
    div(id="leftColumn", class="column")

      div(id="tabs")
        div(id="actions")
          
          a(class="refresh") 
            &nbsp;
          a(class="print") Drucken & Export
          a(class="newArticle") + Artikel
          a(class="newOrder") + Auftrag
        ul 
          li
            a(href="#tab-articles") Artikel
          li
            a(href="#tab-orders") Aufträge
        div(id="tab-articles")
          table(id="articleTable")
        div(id="tab-orders")
          table(id="orderTable")
          
    
    div(id="rightColumn", class="column")
      div(id="order", class="ui-widget")
        div(class="ui-widget-header") 
          span Auftrag
            div(class="buttons")
              a(class="printButton") Drucken
              a(class="closeButton") Schliessen
          div(class="clear")
        div(class="ui-widget-content") 
       
            
        
        
    
    div(class="clear")
    div(id="printDialog")
      table
        tr  
          th Alle Artikel
          td
             a(class="button printAll") Drucken
          td
             a(class="button exportAll") Export
        tr  
          th Vorhandene Artikel
          td
             a(class="button printStock") Drucken
          td
             a(class="button exportStock") Export
             
        tr  
          th Ausgeliehene Artikel
          td
             a(class="button printAway") Drucken
          td
             a(class="button exportAway") Export
             
        
      
      
      
    div(id="orderNotEmptyMessage")
      p Auftrag kann nicht gelöscht werden
      p Bitte zuerst alle Artikel zurückgeben
    
    div(id="orderIsEmptyMessage")
      p Auftrag ist leer
      p Soll der Auftrag gelöscht werden?
    div(id="addNewArticleDialog")
       form(class="addNewArticle")
        table
          tr
            td Name: 
            td
              input(type="text", name="name", placeholder="Name")
          tr 
            td SAP-Nr:
            td
              input(type="text", name="sap", placeholder="SAP")
          
          tr 
            td Geheim-Nr:
            td 
              input(type="text", name="ext_id", placeholder="Geheim-Nr")
          
          tr 
            td Ort:
            td 
              input(type="text", name="location", placeholder="Ort")
           
          
           
         
    div(id="errorDialog")
      An error occured:
      p(class="error")
