*{
 font-family: sans-serif; 
 font-size: 12px;
}

table
{
  width: 100%;
 border-collapse: collapse; 
}

td, th
{
  border-bottom: 1px dotted #ccc;
}

th
{
 text-align: left; 
}

input
{
 border: none; 
}
.articleTable
{
 margin-top: 20px; 
}



.sign
{

  margin-top: 40px;
  border-bottom: 1px dotted #ccc;
font-size: 1.4em;
}
